<div class="container-step">
    <p><span></span> Detalle pedido</p>
    <p>Paso 4/4</p>
    <div class="step"></div>
</div>

<div class="container-voucher">
    <p>Detalle pedido</p>
    <div class="title">
        <p>Unidad</p>
        <p>Detalle</p>
        <p>Valor</p>
    </div>
    <div class="body">
        <p>1</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, </p>
        <p>$999.999</p>
    </div>
    <div class="body">
        <p>1</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, </p>
        <p>$999.999</p>
    </div>
    <div class="body">
        <p>1</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, </p>
        <p>$999.999</p>
    </div>
    <div class="body">
        <p>1</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, </p>
        <p>$999.999</p>
    </div>
    <div class="body">
        <p>1</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, </p>
        <p>$999.999</p>
    </div>
    <div class="body">
        <p>1</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, </p>
        <p>$999.999</p>
    </div>
    <div class="total">
        <p>Total a pagar : <span>$999.999</span></p>
    </div>
</div>

<div class="container-btn">
    <button mat-raised-button>Realizar pago</button>
</div>