.container-step {
    p {
        span {
            &::after {
                content: "4";
            }
        }
    }
}

.container-voucher {
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(25, 25, 25, 0.10);
    border-radius: 4px;
    margin: 16px;

    p {
        font-size: 16px;
        border-bottom: 1px solid #dddddd;
        line-height: 56px;
        padding: 0 0 0 32px;
        margin: 0;
        color: #444444;
    }

    .title,
    .body {
        border-bottom: 1px solid #dddddd;

        p {
            font-size: 16px;
            margin: 0;
            border: none;
            display: inline-block;
            width: 150px;
            box-sizing: border-box;

            +p {
                width: calc(100% - 300px);

                +p {
                    width: 150px;
                    text-align: right;
                    padding: 0 16px 0 0;
                }
            }
        }
    }

    .body {
        padding: 16px 0;

        p {
            line-height: inherit;
        }
    }

    .total {
        width: 100%;
        text-align: right;
        box-sizing: border-box;

        p {
            padding: 0 16px 0 0;

            span {
                font-weight: bold;
            }
        }
    }

}