<div class="container-estado-pedido">
    <p>Estado pedido</p>
    <div class="estado-pedido">
            <div class="container-estado">
                    <p>Por hacer</p>
                    <div class="box-estado">
                        <p>pedido N1</p>
                        <p>detalle detalle detalle detalle detalle detalle detalle detalledetalle detalle detalle detalle detalle detalle detalle detalledetalle detalle detalle detalle detalle detalle detalle detalledetalle detalle detalle detalle detalle detalle detalle detalle</p>
                    </div>
                    <div class="box-estado">
                        <p>pedido N2</p>
                        <p>detalle</p>
                    </div>
                    <div class="box-estado">
                        <p>pedido N3</p>
                        <p>detalle</p>
                    </div>
                </div>
                <div class="container-estado">
                    <p>Haciendo</p>
                    <div class="box-estado">
                        <p>pedido N1</p>
                        <p>detalle</p>
                    </div>
                </div>
                <div class="container-estado">
                    <p>Listo</p>
                    <div class="box-estado">
                        <p>pedido N1</p>
                        <p>detalle</p>
                    </div>
                </div>
                <div class="container-estado">
                    <p>Entregado</p>
                    <div class="box-estado">
                        <p>pedido N1</p>
                        <p>detalle</p>
                    </div>
                </div>
    </div>
</div>