<div class="container">
    <div class="container-login">
        <i class="logo-restok"></i>
        <div class="box-login">
            <div class="title">Login</div>
            <form class="example-form">
                <mat-form-field class="example-full-width login">
                    <input matInput placeholder="Usuario">
                </mat-form-field>
                <mat-form-field class="example-full-width login">
                    <input matInput placeholder="Contraseña">
                </mat-form-field>
                <div class="container-btn">
                    <button mat-raised-button>Ingresar</button>
                </div>
            </form>
        </div>
    </div>
</div>