<div class="container-step">
    <p><span></span> Reserva de mesas</p>
    <p>Paso 1/4</p>
    <div class="step"></div>
</div>
<div class="container-mesas">
    <p>Ingresa numero de personas</p>
    <div class="mesas">
        <div class="box-mesas">
            <p>1</p>
        </div>
        <div class="box-mesas">
            <p>2</p>
        </div>
        <div class="box-mesas">
            <p>4</p>
        </div>
        <div class="box-mesas">
            <p>6</p>
        </div>
        <div class="box-mesas">
            <p>8</p>
        </div>
        <div class="box-mesas">
            <p>+</p>
        </div>
    </div>
</div>
<div class="container-persona">
    <p>Ingresa numero de personas</p>
    <div class="input">
        <mat-form-field>
            <input matInput placeholder="Ingresar cantidad">
        </mat-form-field>
    </div>
</div>
<div class="container-btn">
    <button mat-raised-button>Continuar</button>
</div>