<div class="container-step">
    <p><span></span> Lista mesas disponibles</p>
    <p>Paso 2/4</p>
    <div class="step"></div>
</div>

<div class="container-mesas-disponibles">
    <p>Seleccione mesa disponibles</p>
    <mat-radio-group>
        <mat-radio-button>
            <div class="box-mesa">
                <p>Mesa Nº 1</p>
                <p>Mesa para 5 personas</p>
            </div>
        </mat-radio-button>
        <mat-radio-button>
            <div class="box-mesa">
                <p>Mesa Nº 1</p>
                <p>Mesa para 5 personas</p>
            </div>
        </mat-radio-button>
        <mat-radio-button>
            <div class="box-mesa">
                <p>Mesa Nº 1</p>
                <p>Mesa para 5 personas</p>
            </div>
        </mat-radio-button>
        <mat-radio-button>
            <div class="box-mesa">
                <p>Mesa Nº 1</p>
                <p>Mesa para 5 personas</p>
            </div>
        </mat-radio-button>
        <mat-radio-button>
            <div class="box-mesa">
                <p>Mesa Nº 1</p>
                <p>Mesa para 5 personas</p>
            </div>
        </mat-radio-button>
    </mat-radio-group>
</div>

<div class="container-btn">
    <button mat-raised-button>Continuar</button>
</div>